<div class="Vlt-grid">
  <div class="Vlt-col Vlt-col--2of3 Nxd-api__docs">
    <div>
      <h3 id="<%= endpoint.operationId %>" class="Vlt-title--icon">
        <%= endpoint.summary %>
        <% if webhook %>
          <span class="Vlt-badge Vlt-badge--orange">
            <i class="icon icon-webhook"></i> Webhook
          </span>
        <% else %>
          <span class="Vlt-badge Vlt-badge--green">
            <i class="icon icon-callback"></i> Callback
          </span>
        <% end %>
      </h3>
      <% if endpoint.description %>
        <p><%= endpoint.description.render_markdown %></p>
      <% end %>

      <div class="Vlt-badge-combined">
        <code class="Vlt-badge Vlt-white Vlt-badge--large Nxd-method-badge Nxd-method-badge--<%= endpoint.method %>"><%= endpoint.method.upcase %></code>
        <code class="Vlt-badge Vlt-badge--large Vlt-bg-grey-lighter Vlt-black">
          <span class="api-path-host">https://example.com</span>
          <%= (endpoint.raw['x-example-path'] || '/webhooks/event').gsub(/\{(.+?)\}/, '<span class="api-path-parameter">:\1</span>') %>
        </code>
      </div>

      <%= erb :'open_api/_parameter_groups', locals: { endpoint: endpoint, callback: true } %>
    </div>
  </div>

  <div class="Vlt-col Vlt-col--1of3 Nxd-api__code">
    <%= erb :'open_api/_code_examples', locals: { endpoint: endpoint } %>

    <h5>Request model</h5>

    <% endpoint.request_body.formats.each_with_index do |format, index| %>
      <div class="js-format" data-format="<%= format %>">
        <% schema = endpoint.request_body.schema(format) %>
        <%= Nexmo::OAS::Renderer::ResponseParserDecorator.new(schema).html(format, xml_options: schema['xml']) %>
      </div>
    <% end %>
  </div>
</div>

<% endpoint.callbacks.each do |callback| %>
  <%= erb :'open_api/callback', locals: { callback: callback } %>
<% end %>
