<div id="Vlt-sidenav" class="Vlt-sidenav Vlt-sidenav--light">
  <div class="Vlt-sidenav__scroll">
    <ul class="Vlt-sidemenu Vlt-sidemenu--rounded navigation">
      <li>
        <h5 class="Vlt-sidemenu__title Vlt-sidemenu__title--border"><%= definition.info['title'] %></h5>
      </li>
      <li>
        <a class="Vlt-sidemenu__link" href="#overview">Overview</a>
      </li>

      <% @specification.groups.each do |name, endpoints| %>
        <% if name %>
          <%
            group = definition.raw['tags'].select { |tag| tag['name'].capitalize == name.capitalize }.first
            raise "Could not find 'tags' entry for #{name.capitalize}" unless group
           %>
          <li>
            <h5 class="Vlt-sidemenu__title Vlt-sidemenu__title--border"><%= group['name'] %></h5>
          </li>
        <% end %>

        <% endpoints.each do |endpoint| %>
          <% raise "Missing `operationId` on #{endpoint.path.path} path" unless endpoint.operationId %>
          <li>
            <a href="#<%= endpoint.operationId %>" class="Vlt-sidemenu__link">
              <svg class="Vlt-green"><use xlink:href="/assets/symbol/volta-icons.svg#Vlt-icon-code" /></svg>

              <span class="Vlt-sidemenu__label">
                <%= normalize_summary_title(endpoint.summary, endpoint.operationId) %>
              </span>
              <span class="Vlt-badge Vlt-badge--margin-left Nxd-method-badge Nxd-method-badge--<%= endpoint.method %>"><code class="Vlt-white"><%= endpoint.method %></code></span>
            </a>
          </li>

          <% if endpoint.callbacks.any? %>
            <% endpoint.callbacks.each do |callback| %>
              <% callback.paths.each do |path| %>
                <% path.endpoints.each do |endpoint| %>
                  <li class="Nxd-menu__indent">
                    <a href="#<%= endpoint.operationId %>" class="Vlt-sidemenu__link">
                      <svg class="Vlt-blue"><use xlink:href="/assets/symbol/volta-icons.svg#Vlt-icon-toggle" /></svg>
                      <span class="Vlt-sidemenu__label"><%= endpoint.summary %></span>
                    </a>
                  </li>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>

        <% if definition.raw['x-webhooks'] %>
          <% definition.raw['x-webhooks'].each do |name, definition| %>
            <% callback = OasParser::Callback.new(self, name, definition) %>

            <% callback.paths.each do |path| %>
              <% path.endpoints.each do |endpoint| %>
                <li>
                  <a href="#<%= name %>" class="Vlt-sidemenu__link">
                    <svg class="Vlt-orange"><use xlink:href="/assets/symbol/volta-icons.svg#Vlt-icon-mind-map" /></svg>
                    <span class="Vlt-sidemenu__label"><%= endpoint.summary %></span>
                  </a>
                </li>
              <% end %>
            <% end %>
          <% end %>
        <% end %>

        <% if name %>
          </li>
        <% end %>
      <% end %>

      <% if @specification.definition_errors %>
        <li>
          <a class="Vlt-sidemenu__link" href="#errors">Errors</a>
        </li>
      <% end %>
      </li>
    </ul>
  </div>
</div>
