<%
  # @mheap: This is hacky handling for allOf, but it works for now
  allOf = schema['allOf']
  if allOf
    schema = allOf.reduce { |a,b| a.deep_merge(b) }
  end
%>

<%
  # If it's an array, look at the items for the response schema as all items within
  # the array are expected to be identical
  schema = schema['items'] if schema['type'] == 'array'
%>

<% if schema['properties'] %>
  <% schema['properties'].each do |key, value| %>
    <%
      next if key == '_links'
      next if value['x-skip-response-description']
      parent = "#{endpoint.method}_#{endpoint.path.path.gsub("/", "_")[1..-1]}" unless parent
      responseFieldId = parent + "_" + key
    %>
    <tr id="<%= responseFieldId %>" <% if value['properties'] %> class=" Vlt-table__row--noline" <% end %>>
      <td>
        <b><%= key %></b>
        <% if value['items'] %>
          <br />
          <small>array of <%= value['items']['type'] %>s</small>
        <% else %>
          <br />
          <small>
            <i><%= value['type'] %></i>
          </small>
        <% end %>
      </td>
      <td>
        <%= value['description'] ? value['description'].render_markdown : '' %>
        <% if value['enum']%>
          <small class="Vlt-grey-dark">
            One of: <%= parameter_values(value['enum']) %>
          </small>
        <% end %>


        <% if value['items'] # If this is an array, we need to show the structure of the children %>

          <% if value['items']['oneOf'] || value['items']['anyOf'] # If it's a oneOf/anyOf, we need tabs! %>
            <%

              if value['items']['oneOf']
                qualifier = 'one'
                key = 'oneOf'
              else
                qualifier = 'any'
                key = 'anyOf'
              end

              schemas = value['items'][key].map do |item|
                if item['allOf']
                  item = item.deep_merge(item['allOf'].reduce { |a,b| a.deep_merge(b) })
                  item.delete('allOf')
                end
                item
              end
            %>
          <% else %>
            <% value['properties'] = value['items']['properties'] %>
            <% schemas = [value] %>
          <% end %>

        <% else %>
          <% schemas = [value] if value['properties'] %>
        <% end %>

        <% if schemas %>
          <% needs_tabs = schemas.size > 1 %>
          </td>
          </tr>

          <tr class="Vlt-table__row--nohighlight">
            <td colspan="2">

              <% if needs_tabs %>
                <div class="Vlt-callout Vlt-callout--shoutout">
                  <i></i>
                  <div class="Vlt-callout__content">
                    This array contains <strong><%= qualifier %></strong> of the following objects:
                  </div>
                </div>
                <div class="Vlt-tabs js-format">
                  <div class="Vlt-tabs__header Vlt-tabs__header--bordered" role="tablist" aria-label="Responses">
                    <% schemas.each_with_index do |schema, index| %>
                      <div
                        class="Vlt-tabs__link <%= index == 0 ? 'Vlt-tabs__link_active' : '' %> <%= schema['x-tab-id'] ? "tab-sync" : '' %>"
                        <% if schema['x-tab-id'] %>
                          data-tab-link="<%= schema['x-tab-id'] %>"
                          <% end %>
                      >
                        <%= schema['description'] %>
                      </div>
                    <% end %>
                  </div>
                  <div class="Vlt-tabs__content">
              <% end %>

              <% schemas.each_with_index do |value, index| %>
                <div class="Vlt-tabs__panel <%= index == 0 ? 'Vlt-tabs__panel_active' : '' %>">
                  <div class="Vlt-table Vlt-table--bordered">
                    <table>
                      <thead>
                      <tr>
                        <th>Field</th>
                        <th>Description</th>
                      </tr>
                      </thead>
                      <tbody>
                      <%= erb :'open_api/_response_description_parameters', locals: { endpoint: endpoint, schema: value, parent: responseFieldId } %>
                      </tbody>
                    </table>
                  </div>
                </div>
              <% end %>

              <% if needs_tabs %>
                </div>
                </div>
              <% end %>
        <% end %>
        </td>
        </tr>
  <% end %>
<% end %>
