<div class="js-format Nxd-api__response <%= locals[:index] && locals[:index] > 0 ? 'hide' : '' %>" data-format="<%= format %>" data-target='<%= locals[:index] || '' %>'>
  <div class="Vlt-table Vlt-table--data Vlt-table--bordered">
    <table>
      <thead>
        <% if locals[:index] %>
          <tr><th colspan="2"><%= schema['description'] || "Response #{locals[:index] + 1}"%></th></tr>
        <% end %>
        <tr>
          <th>Field</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <%= erb :'open_api/_response_description_parameters', locals: { schema: schema, anchor_prefix: anchor_prefix } %>
      </tbody>
    </table>
  </div>
</div>
