<% endpoint.responses.each do |response| %>
  <% next unless response.success? %>
  <% next if response.code.to_i == 204 %>
  <% next unless response.content %>
  <% id = SecureRandom.hex %>
  <p class="collapsible">
    <a class="Vlt-js-accordion__trigger Nxd-accordion-button" data-accordion="acc<%= id %>">
      <span class="Vlt-btn Vlt-btn--tertiary Vlt-btn--block">
        View response field descriptions
      </span>
    </a>
  </p>

  <div id="acc<%= id %>" class="Vlt-js-accordion__content <%= auto_expand_responses ? 'Vlt-js-accordion__content_open' : '' %>" data-response-group='<%= anchor_prefix %>'>
    <h4 id="<%= anchor_prefix %>">Response Fields</h4>
    <% response.formats.each_with_index do |format, index| %>
      <% if response.exhibits_one_of_multiple_schemas?(format) %>
        <% response.split_schemas(format).each_with_index do |schema, index| %>
          <%= erb :'open_api/_response_fields', locals: { schema: schema, anchor_prefix: anchor_prefix, index: index, format: format } %>
        <% end %>
      <% else %>
        <% schema = response.schema(format) %>
        <%= erb :'open_api/_response_fields', locals: { schema: schema, anchor_prefix: anchor_prefix, format: format } %>
      <% end %>
    <% end %>
  </div>
<% end %>
