<div class="masonry" data-turbolinks="false">
  <% @tutorials.each_with_index do |tutorial, index| %>
    <div class="item">
      <div class="Vlt-card Vlt-card--image Nxd-card--tutorials">
        <div class="Vlt-card__image Vlt-card__image--tech Vlt-card__image--blue">
          <a href="/<%= tutorial.products.join("") %>/tutorials/<%= @language %>" class="Vlt-badge Vlt-badge--large Nxd-tutorials__product Nxd-tutorials__product--<%= tutorial.subtitle %>"><%= tutorial.subtitle %></a>
        </div>

        <a href="<%= tutorial.path %>">
          <div class="Vlt-card__content">
            <h2>
              <span><%= tutorial.title %></span>
            </h2>
            <p><%= tutorial.description %></p>
        </a>

        <% if tutorial.languages.count > 0 %>
          <% tutorial.languages.each do |language| %>
            <a href="<%= "#{@base_path}/#{language.downcase}" %>"><small class="Vlt-grey-darker Nxd-tutorials__language Nxd-tutorials__language--<%= language %>"><span>●</span> <%= language == "Objective_C" ? "Objective-C" : language %></small></a>
            <% end %>
          <% end %>

          <div class="Vlt-card__cta">
            <a href="<%= tutorial.path %>" class="Vlt-btn Vlt-btn--secondary">
            Read more
            </a>
          </div>
        </div>
    </div>
    </div>
  <% end %>
</div>
