<div class="copy-wrapper">
  <div class="copy-button" data-lang="<%= lang %>" data-block="<%= config['source'] %>" data-section="code">
    <%= octicon "clippy", :class => 'top left' %> <span>Copy to Clipboard</span>
  </div>
  <pre class="highlight <%= lexer.tag %> main-code"><code><%= highlighted_code_source %></code></pre>
</div>
